﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div id="adminIndex" class="row">
    <div class="well col-lg-1">
        <button @@click="createNewMember" class="btn btn-info btn-sm btn-block">Members</button>
        <br />
        <a href="/admin/accounts" class="btn btn-info btn-sm btn-block">Accounts</a>
        <br />
        <button @@click="createNewType" class="btn btn-info btn-sm btn-block">Events</button>
        <br />
        <button @@click="beginPledge" class="btn btn-info btn-sm btn-block">Pledges</button>
        <br />
        <a href="admin/payments" class="btn btn-info btn-sm btn-block">Payments</a>
    </div>
    <div style="margin-top:50px">
        <div v-if="showIsMember" class="well col-md-2 col-md-offset-2">
            <input type="radio" id="one" value="Member" v-model="picked">
            <label for="one">Member</label>
            <br>
            <input type="radio" id="two" value="Non-Member" v-model="picked">
            <label for="two">Non-Member</label>
            <br>
            <button @@click="next" class="btn btn-primary">Continue</button>
            @*<h1>{{picked}}</h1>*@
        </div>
        <div v-if="member" class="well col-md-3 col-md-offset-2">
            <h3>Enter Member Name </h3>
            <input v-model="search" v-on:keyup="searchBox" type="text" class="form-control" />
            <h4 v-if="showChoices">Select Member</h4>

            <div v-if="showChoices" v-for="friend in members | filterBy search" {{ friend.names }}>
                
                <input type="radio" id="{{friend.age}}" value="{{friend.names}}" v-model="memberId">
                <label for="{{friend.age}}">{{friend.names}}</label>
                <br>
                
            </div>
            <br />
            <button @@click="submitMemberInfo" class="btn btn-primary">Continue</button>

        </div>
        <div v-if="nonMember" class="well col-md-4 col-md-offset-2">
            <input type="text" class="form-control" placeholder="Name" v-model="memberId" />
            <br />
            <input type="text" class="form-control" placeholder="Address" v-model="address" />
            <br />
            <input type="text" class="form-control" placeholder="Phone" v-model="contact" />
            <br />
            <input type="text" class="form-control" placeholder="Email" v-model="email" />
            <br />
            <button @@click="submitNonMemberInfo" class="btn btn-primary">Continue</button>
        </div>

        <div v-if="showPledges" class="well col-lg-3 col-lg-offset-2">
            <h4>Create Pledge for {{memberId}}</h4>
            <p>{{email}}</p>
            <p>{{address}}</p>
            <p>{{contact}}</p>
            <input type="text" class="form-control" placeholder="Amount" v-model="amount" />
            <br />
            <select class="form-control">
                <option selected>Pledge Type</option>
                <option v-model="newType" v-for="type in types">{{type.name}}</option>
                <option>{{newType}}</option>
            </select>
            <h4>Not Here?<button @@click="createNewType" class="btn btn-link">Create New Type</button></h4>
            <br />
            <button @@click="submitPledge" class="btn btn-primary">Submit</button>
        </div>
        <div v-if="showNewType" class="well col-md-3 col-md-offset-1">
            <input type="text" class="form-control" placeholder="Contribution Type" v-model="newType" />
            <br />
            <input type="date" class="form-control ui-datepicker" placeholder="Date" v-model="date" />
            <br />
            <button @@click="submitNewType" class="btn btn-info">Submit Type</button>
        </div>
        <div v-if="showNewMemberForm" class="well col-md-4 col-md-offset-2">
            <input type="text" class="form-control" placeholder="First Name" v-model="firstName" />
            <br />
            <input type="text" class="form-control" placeholder="Last Name" v-model="lastName" />
            <br />
            <input type="date" class="form-control" placeholder="DOB" v-model="dob" />
            <br />
            <input type="text" class="form-control" placeholder="Address" v-model="address" />
            <br />
            <input type="text" class="form-control" placeholder="Phone" v-model="contact" />
            <br />
            <input type="text" class="form-control" placeholder="Email" v-model="email" />
            <br />
            <input type="radio" id="one" value="male" v-model="gender">
            <label for="one">Male</label>
            <br>
            <input type="radio" id="two" value="female" v-model="gender">
            <label for="two">Female</label>
            <br>
            <button @@click="submitNewMemberInfo" class="btn btn-primary">Submit</button>
            <hr />
            <h1>{{firstName}} {{lastName}} {{dob}} {{address}} {{contact}} {{email}}  {{gender}} </h1>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/AdminIndex.js"></script>
}