﻿@model dynamic

@{
    ViewBag.Title = "Account Setup";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div id="accountSetup">
    <div class="jumbotron" style="margin-top: 40px; text-align: center;">

        <div class="alert alert-danger" role="alert" v-show="dangerAlert" style="display: none;">
            Sorry <i class="glyphicon glyphicon-exclamation-sign"></i> {{alert}}
        </div>
        <br />
        <h3>You will recieve your login info via email</h3>
        <form>
            <div class="form-inline">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" v-model="email" placeholder="Enter your member email">
                </div>
            </div>
            <button style="margin-top: 10px" class="btn btn-primary" v-on:click="sendEmail" type="button">Send Email</button>
        </form>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/Vue-Main.js"></script>
}
