﻿@model ShulWorld.Models.AddMemberViewModel

@{
    ViewBag.Title = "Add Member";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/datepicker.css" rel="stylesheet" />
<div class="container" style="margin-top:40px;">
    <form class="well col-md-6 form-horizontal" action="/login/addmember" method="post">

        <!-- Form Name -->
        <h3>Add Member</h3>

        <div id="app">
            <!-- FirstName-->
            <div class="form-group">
                <label class="col-md-4 control-label">First Name<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input v-model="firstName" name="FirstName" placeholder="First Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- LastName-->
            <div class="form-group">
                <label class="col-md-4 control-label">Last Name<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input required v-model="lastName" name="LastName" placeholder="Last Name" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- MiddleName-->
            <div class="form-group">
                <label class="col-md-4 control-label">Middle</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input placeholder="Middle Name" v-model="middelName" name="MiddleName" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Dob-->
            <div class="form-group">
                <label class="col-md-4 control-label">DOB<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" v-model="dob" name="Dob" value="07/25/1995" placeholder="DOB" data-date-format="mm/dd/yyyy" id="datepicker">
                    </div>
                </div>
            </div>

            <!-- Email-->
            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input v-model="email" name="Email" placeholder="E-Mail Address" class="form-control" type="text">
                    </div>
                </div>
            </div>


            <!-- HomePhone-->
            <div class="form-group">
                <label class="col-md-4 control-label">Home Phone<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input v-model="homePhone" name="HomePhone" placeholder="(848)-555-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- AltPhone-->
            <div class="form-group">
                <label class="col-md-4 control-label">Alt Phone 1</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                        <input v-model="altPhone1" name="AltPhone1" placeholder="(848)-555-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- AltPhone-->
            <div class="form-group">
                <label class="col-md-4 control-label">Alt Phone 2</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                        <input v-model="altPhone2" name="AltPhone2" placeholder="(848)-555-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Address-->
            <div class="form-group">
                <label class="col-md-4 control-label">Address<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input v-model="address" name="address" placeholder="Address" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- City-->
            <div class="form-group">
                <label class="col-md-4 control-label">City<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input v-model="city" name="City" placeholder="city" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- State -->
            <div class="form-group">
                <label class="col-md-4 control-label">State<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select v-model="state" name="State" class="form-control selectpicker">
                            <option selected>Please select your state</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>Arizona</option>
                            <option>Arkansas</option>
                            <option>California</option>
                            <option>Colorado</option>
                            <option>Connecticut</option>
                            <option>Delaware</option>
                            <option>District of Columbia</option>
                            <option> Florida</option>
                            <option>Georgia</option>
                            <option>Hawaii</option>
                            <option>daho</option>
                            <option>Illinois</option>
                            <option>Indiana</option>
                            <option>Iowa</option>
                            <option> Kansas</option>
                            <option>Kentucky</option>
                            <option>Louisiana</option>
                            <option>Maine</option>
                            <option>Maryland</option>
                            <option> Mass</option>
                            <option>Michigan</option>
                            <option>Minnesota</option>
                            <option>Mississippi</option>
                            <option>Missouri</option>
                            <option>Montana</option>
                            <option>Nebraska</option>
                            <option>Nevada</option>
                            <option>New Hampshire</option>
                            <option>New Jersey</option>
                            <option>New Mexico</option>
                            <option>New York</option>
                            <option>North Carolina</option>
                            <option>North Dakota</option>
                            <option>Ohio</option>
                            <option>Oklahoma</option>
                            <option>Oregon</option>
                            <option>Pennsylvania</option>
                            <option>Rhode Island</option>
                            <option>South Carolina</option>
                            <option>South Dakota</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option> Uttah</option>
                            <option>Vermont</option>
                            <option>Virginia</option>
                            <option>Washington</option>
                            <option>West Virginia</option>
                            <option>Wisconsin</option>
                            <option>Wyoming</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Zipcode-->
            <div class="form-group">
                <label class="col-md-4 control-label">Zip Code<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input v-model="zipcode" name="Zipcode" placeholder="Zip Code" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- radio gender checks -->
            <div class="form-group">
                <label class="col-md-4 control-label">Gender<i class="glyphicon glyphicon-asterisk red"></i></label>
                <div class="col-md-6">
                    <div class="radio">
                        <label>
                            <input type="radio" v-model="gender" name="Gender" value="0" checked /> Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" v-model="gender" name="Gender" value="1" /> Female
                        </label>
                    </div>
                </div>
            </div>


            <!-- Alert Messages -->
            @if (Model.NotAddedMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    Sorry <i class="glyphicon glyphicon-exclamation-sign"></i> @Model.NotAddedMessage
                </div>
            }
            else if (Model.AddedMessage != null)
            {
                <div class="alert alert-success" role="alert">
                    Success <i class="glyphicon glyphicon-thumbs-up"></i> You added a member, you can now add another or <a href="#">Go home</a>.
                </div>
            }
            <div class="alert alert-success" role="alert" v-show="successAlert" style="display: none;">
                Success <i class="glyphicon glyphicon-thumbs-up"></i> You added a member, you can now add another or <a href="#">Go home</a>.
            </div>
            <div class="alert alert-danger" role="alert" v-show="dangerAlert" style="display: none;">
                Sorry <i class="glyphicon glyphicon-exclamation-sign"></i> Please fill out all required fields.
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4"></label>
                <div class="col-md-4">
                    <button type="button" v-on:click="btnSubmit" class="btn btn-primary">Add Member</button>
                </div>
            </div>
        </div>
    </form>


</div>
@section scripts{
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <script src="~/Scripts/Vue-Main.js"></script>
}