﻿@using ShulWorld.Models
@model LogInViewModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success fade in" style="margin-top:20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
        <strong>Success!</strong> @Model.SuccessMessage
    </div>
}
else if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger fade in" style="margin-top:20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
        <strong>Sorry!</strong> @Model.ErrorMessage
    </div>
}
<div class="jumbotron" style="margin-top: 40px;">
    <form action="/login/login" method="post">
        <div class="well">
            
            <h2>Sign In</h2>
            <label id="userlabel">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
            <br/>
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <br/>
            <button class="btn btn-lg btn-primary" type="submit">Sign in</button> <a href="/login/register" class="btn btn-lg btn-default">Register</a>
        </div>
    </form>
</div>
