﻿@model string
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@if (Model != null)
{
    <div class="alert alert-danger fade in" style="margin-top:20px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
        <strong>Sorry!</strong> @Model
    </div>
}

<div id="app" class="jumbotron" style="margin-top: 40px;">

    <div class="well">
        <h2>Register</h2>
        <label>Username</label>
        <div class="form-inline">
            <div id="usernames" class="form-group has-feedback">
                <input type="text" name="username" v-model="username" v-on:keyup="isavailable" class="form-control" placeholder="Username" required autofocus>
                <span style="display: none" id="check-input" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span style="display: none" id="ex-input" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>

        <br />

        <label>Password</label>
        <div class="form-inline">
            <div class="form-group has-feedback passwords">
                <input type="password" name="password" v-model="password" class="form-control" placeholder="Password" required>
                <span style="display: none" class="glyphicon glyphicon-ok form-control-feedback isMatch" aria-hidden="true"></span>
                <span style="display: none" class="glyphicon glyphicon-remove form-control-feedback isNotMatch" aria-hidden="true"></span>
            </div>
        </div>

        <br />

        <label>Re-Enter Password</label>
        <div class="form-inline">
            <div class="form-group has-feedback passwords">
                <input name="passwordMatch" type="password" v-model="passwordMatch" v-on:keyup="match" class="form-control" placeholder="Password" required>
                <span style="display: none" class="glyphicon glyphicon-ok form-control-feedback isMatch" aria-hidden="true"></span>
                <span style="display: none" class="glyphicon glyphicon-remove form-control-feedback isNotMatch" aria-hidden="true"></span>
            </div>
        </div>

        <br />

        <button v-on:click="btnSubmit" class="btn btn-lg btn-primary" type="submit">Register</button> <a href="/login/login" class="btn btn-lg btn-default">Have an account?</a>
    </div>
    <hr />

    <a href="/login/accountsetup">Already a member? Click here</a>
</div>

@section scripts{
    <script src="~/scripts/Register.js"></script>
}
